.content-acordeon {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#infos > li.open > .content-acordeon {
    display: inline-block;
    height: auto;
    opacity: 1;
    margin-top: 15px;
    padding: 5px;
}

#infos > li.open {
    background-color: var(--color1);
    border-color: var(--color1);
}

.idiomas > ul > li::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../icons/check.svg) center no-repeat;
    background-size: contain;
    margin-right: 5px;
}

#infos > li.open > .content-acordeon > ul {
    display: flex;
    justify-content: space-evenly;
}

#infos > li.open > .content-acordeon > ul > li {
    font-weight: 500;
}