.content-acordeon {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#infos > li.open > .content-acordeon {
    display: inline-block;
    height: auto;
    opacity: 1;
    margin-top: 15px;
    padding: 5px;
}

#infos > li.open {
    background-color: var(--color1);
    border-color: var(--color1);
}

#infos > li.open > .content-acordeon > ul {
    display: flex;
    justify-content: space-evenly;
}

#infos > li.open > .content-acordeon > ul > li {
    font-weight: 500;
}