@import url(global.css);

@media screen and (orientation: landscape) and (max-width: 670px) {
    body {
        height: 190vh;
    }
    main {
        height: 90%;
    }
}

@media screen and (orientation: landscape) and (min-width: 670px) and (max-width: 760px) {
    body {
        height: 260vh;
    } 
    main {
        height: 100%;
    }
}

@media screen and (min-width: 670px) and (max-width: 992px) {
    main {
        height: 70%;
        max-height: 640px;
    }

    header {
        justify-content: space-around;
        margin-bottom: 50px;
    }

    header > img {
        width: 235px;
        height: 235px;
    }

    header > section > h1 {
        font-size: 2rem;
    }

    header > section ul > li {
        font-size: 1.2rem;
    }    
    
    #cont > ul > li > span {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 992px) {
    main {
        height: 68%;
        max-height: 640px;
    }
    
    header {
        justify-content: space-around;
        margin-bottom: 50px;
    }

    header > img {
        width: 235px;
        height: 235px;
    }

    header > section > h1 {
        font-size: 2rem;
    }

    header > section ul > li {
        font-size: 1.2rem;
    }    
    
    #cont > ul > li > span {
        font-size: 1.3rem;
    }

    section > #infos > li {
        width: 80%;
    }
}